### 지니 top200 차트

In [39]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [41]:
melon_top200=[]
rank = 1
for i in range(1,5):
    url = 'https://www.genie.co.kr/chart/top200?ditc=D&ymd=20220414&hh=15&rtm=Y&pg='
    header={'User-agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.88 Safari/537.36'}
    req = requests.get(url+f'{i}', headers=header)
    soup = BeautifulSoup(req.text, 'html.parser')

    for info in soup.select('td.info'):
        a=info.select_one('.title.ellipsis').text.strip()
        if('19금' in str(a)):
            melon_top200.append({'rank':rank, 'title':a.split(' ')[-1], 'artist':info.select_one('.artist.ellipsis').text.strip()})
            rank+=1
        else :
            melon_top200.append({'rank':rank,'title':info.select_one('.title.ellipsis').text.strip(), 'artist':info.select_one('.artist.ellipsis').text.strip()})
            rank+=1
    
    
df=pd.DataFrame(melon_top200)
df.set_index('rank', inplace=True)
df.to_csv('melon200.csv')
a = pd.read_csv('melon200.csv')
a

     rank                  title             artist
0       1   봄여름가을겨울 (Still Life)       BIGBANG (빅뱅)
1       2                 TOMBOY            (여자)아이들
2       3              LOVE DIVE          IVE (아이브)
3       4         Feel My Rhythm  Red Velvet (레드벨벳)
4       5                 사랑인가 봐   멜로망스 (MeloMance)
..    ...                    ...                ...
195   196   Love Blossom (러브블러썸)       케이윌 (K.Will)
196   197            미니카 (Drive)          NCT DREAM
197   198                     어른             Sondia
198   199  너를 위한 단어 (It's Yours)          NCT DREAM
199   200                 소주 한 잔                양다일

[200 rows x 3 columns]