### 데이터프레임 -인덱스 조작

In [3]:
import numpy as np
import pandas as pd
# import warnings
# warnings.filterwarnings('ignore')

In [4]:
data = np.vstack([list('ABCDE'), np.random.rand(3,5).round(2)])
data

array([['A', 'B', 'C', 'D', 'E'],
       ['0.53', '0.45', '0.69', '0.78', '0.5'],
       ['0.93', '0.5', '0.15', '0.77', '0.07'],
       ['0.23', '0.37', '0.05', '0.91', '0.94']], dtype='<U32')

In [5]:
data.T

array([['A', '0.53', '0.93', '0.23'],
       ['B', '0.45', '0.5', '0.37'],
       ['C', '0.69', '0.15', '0.05'],
       ['D', '0.78', '0.77', '0.91'],
       ['E', '0.5', '0.07', '0.94']], dtype='<U32')

In [6]:
df=pd.DataFrame(data.T, columns='C1 C2 C3 C4'.split())#columns=['C1', 'C2', 'C3', 'C4']같은 결과
df

  C1    C2    C3    C4
0  A  0.53  0.93  0.23
1  B  0.45   0.5  0.37
2  C  0.69  0.15  0.05
3  D  0.78  0.77  0.91
4  E   0.5  0.07  0.94

In [7]:
df2=df.set_index('C1')
df2

      C2    C3    C4
C1
A   0.53  0.93  0.23
B   0.45   0.5  0.37
C   0.69  0.15  0.05
D   0.78  0.77  0.91
E    0.5  0.07  0.94

In [8]:
df.set_index('C1', inplace=True)
df

      C2    C3    C4
C1
A   0.53  0.93  0.23
B   0.45   0.5  0.37
C   0.69  0.15  0.05
D   0.78  0.77  0.91
E    0.5  0.07  0.94

In [9]:
df.index.name='Index'
df

         C2    C3    C4
Index
A      0.53  0.93  0.23
B      0.45   0.5  0.37
C      0.69  0.15  0.05
D      0.78  0.77  0.91
E       0.5  0.07  0.94

In [10]:
df.reset_index(inplace=True)
df

  Index    C2    C3    C4
0     A  0.53  0.93  0.23
1     B  0.45   0.5  0.37
2     C  0.69  0.15  0.05
3     D  0.78  0.77  0.91
4     E   0.5  0.07  0.94