In [37]:
import pandas as pd
import numpy as np
#4.1.1
a=pd.Series({"서울": 9631482, "부산": 3393191, "인천": 2632035, "대전": 1490158})
b=pd.Series({"서울": 9631482, "부산": 3393191, "경기": 2632035, "강원": 1490158})
a+b

강원           NaN
경기           NaN
대전           NaN
부산     6786382.0
서울    19262964.0
인천           NaN
dtype: float64

In [42]:
#4.1.2
data = {
    "2015": [9904312, 3448737, 2890451, 2466052, 2466052],
    "2010": [9631482, 3393191, 2632035, 2431774, 2466052],
    "2005": [9762546, 3512547, 2517680, 2456016, 2466052],
    "지역": ["수도권", "경상권", "수도권", "경상권", "경상권"],
    "2010-2015 증가율": [0.0283, 0.0163, 0.0982, 0.0141, 0.0141]
}
pd.DataFrame(data)

In [14]:
#4.1.3
data = {
    "국어": [80, 90, 70, 30],
    "영어": [90, 70, 60, 40],
    "수학": [90, 60, 80, 70],
}
columns = ["국어", "영어", "수학"]
index = ["춘향", "몽룡", "향단", "방자"]
df = pd.DataFrame(data, index=index, columns=columns)

In [3]:
#(1)
pd.Series(df['수학'])

춘향    90
몽룡    60
향단    80
방자    70
Name: 수학, dtype: int64

In [4]:
#(2)
pd.DataFrame(df[['국어','영어']])

    국어  영어
춘향  80  90
몽룡  90  70
향단  70  60
방자  30  40

In [15]:
#(3)
df['평균']=df.mean(axis=1).round(1)
df

    국어  영어  수학    평균
춘향  80  90  90  86.7
몽룡  90  70  60  73.3
향단  70  60  80  70.0
방자  30  40  70  46.7

In [19]:
#4
df['영어']['방자']=80
del df['평균']
df['평균']=df.mean(axis=1).round(1)
df

C:\Users\ezen\AppData\Local\Temp/ipykernel_640/70479857.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['영어']['방자']=80

    국어  영어  수학    평균
춘향  80  90  90  86.7
몽룡  90  70  60  73.3
향단  70  60  80  70.0
방자  30  80  70  60.0

In [33]:
df.loc[['춘향']]

    국어  영어  수학    평균
춘향  80  90  90  86.7

In [34]:
df.loc['향단']

국어    70.0
영어    60.0
수학    80.0
평균    70.0
Name: 향단, dtype: float64

In [57]:
# 4.3.1
data = {
    "2015": [9904312, 3448737, 2890451, 2466052, 2466052],
    "2010": [9631482, 3393191, 2632035, 2431774, 2466052],
    "2005": [9762546, 3512547, 2517680, 2456016, 2466052],
    "지역": ["수도권", "경상권", "수도권", "경상권", "경상권"],
    "2010-2015 증가율": [0.0283, 0.0163, 0.0982, 0.0141, 0.0141]
}
df=pd.DataFrame(data, index=['일','이','삼','사','오'])
df

      2015     2010     2005   지역  2010-2015 증가율
일  9904312  9631482  9762546  수도권         0.0283
이  3448737  3393191  3512547  경상권         0.0163
삼  2890451  2632035  2517680  수도권         0.0982
사  2466052  2431774  2456016  경상권         0.0141
오  2466052  2466052  2466052  경상권         0.0141

In [86]:
df['2015']['일'], df['2015'].일, df['2015'][-5], df['2015'][0], df.iloc[-5][-5], df.iloc[-5, -5], df.iloc[-5][0], df.iloc[0][0], df.iloc[0][-5], df.iloc[0, 0], df.iloc[-5, 0]

(9904312,
 9904312,
 9904312,
 9904312,
 9904312,
 9904312,
 9904312,
 9904312,
 9904312,
 9904312,
 9904312)