### 데이터프레임 - 시계열 자료

In [1]:
import numpy as np
import pandas as pd

- DatetimeIndex

In [4]:
date_str = ["2022, 4, 1", "2022-4-2", "20220402", "2022.4.4", '4/5/2022', '040622']
idx = pd.to_datetime(date_str)
idx

DatetimeIndex(['2022-04-01', '2022-04-02', '2022-04-02', '2022-04-04',
               '2022-04-05', '2022-04-06'],
              dtype='datetime64[ns]', freq=None)

In [9]:
s=pd.Series(np.random.randint(40,101,6), index=idx)
s

2022-04-01    46
2022-04-02    49
2022-04-02    87
2022-04-04    76
2022-04-05    72
2022-04-06    44
dtype: int32

In [10]:
pd.date_range('20220401', '2022-04-30')#시작일자, 종료일자로 인덱스를 만들어 준다.

DatetimeIndex(['2022-04-01', '2022-04-02', '2022-04-03', '2022-04-04',
               '2022-04-05', '2022-04-06', '2022-04-07', '2022-04-08',
               '2022-04-09', '2022-04-10', '2022-04-11', '2022-04-12',
               '2022-04-13', '2022-04-14', '2022-04-15', '2022-04-16',
               '2022-04-17', '2022-04-18', '2022-04-19', '2022-04-20',
               '2022-04-21', '2022-04-22', '2022-04-23', '2022-04-24',
               '2022-04-25', '2022-04-26', '2022-04-27', '2022-04-28',
               '2022-04-29', '2022-04-30'],
              dtype='datetime64[ns]', freq='D')

In [11]:
pd.date_range('20220401', periods=30)

DatetimeIndex(['2022-04-01', '2022-04-02', '2022-04-03', '2022-04-04',
               '2022-04-05', '2022-04-06', '2022-04-07', '2022-04-08',
               '2022-04-09', '2022-04-10', '2022-04-11', '2022-04-12',
               '2022-04-13', '2022-04-14', '2022-04-15', '2022-04-16',
               '2022-04-17', '2022-04-18', '2022-04-19', '2022-04-20',
               '2022-04-21', '2022-04-22', '2022-04-23', '2022-04-24',
               '2022-04-25', '2022-04-26', '2022-04-27', '2022-04-28',
               '2022-04-29', '2022-04-30'],
              dtype='datetime64[ns]', freq='D')

In [12]:
pd.date_range('20220401', periods=30, freq='B')#비즈니스 데이(주말 제외)

DatetimeIndex(['2022-04-01', '2022-04-04', '2022-04-05', '2022-04-06',
               '2022-04-07', '2022-04-08', '2022-04-11', '2022-04-12',
               '2022-04-13', '2022-04-14', '2022-04-15', '2022-04-18',
               '2022-04-19', '2022-04-20', '2022-04-21', '2022-04-22',
               '2022-04-25', '2022-04-26', '2022-04-27', '2022-04-28',
               '2022-04-29', '2022-05-02', '2022-05-03', '2022-05-04',
               '2022-05-05', '2022-05-06', '2022-05-09', '2022-05-10',
               '2022-05-11', '2022-05-12'],
              dtype='datetime64[ns]', freq='B')

In [14]:
pd.date_range('20220401', '20220430', freq='W')# Weekend 일요일만

DatetimeIndex(['2022-04-03', '2022-04-10', '2022-04-17', '2022-04-24'], dtype='datetime64[ns]', freq='W-SUN')

- resample

In [16]:
ts=pd.Series(np.random.randint(100,1000,100), index=pd.date_range('20220101', periods=100))
ts

2022-01-01    855
2022-01-02    353
2022-01-03    783
2022-01-04    929
2022-01-05    828
             ...
2022-04-06    915
2022-04-07    215
2022-04-08    113
2022-04-09    581
2022-04-10    778
Freq: D, Length: 100, dtype: int32

In [19]:
ts.resample('M').first()

2022-01-31    855
2022-02-28    515
2022-03-31    378
2022-04-30    801
Freq: M, dtype: int32

In [20]:
ts.resample('W').mean()

2022-01-02    604.000000
2022-01-09    649.428571
2022-01-16    645.714286
2022-01-23    578.714286
2022-01-30    556.142857
2022-02-06    508.142857
2022-02-13    489.142857
2022-02-20    580.857143
2022-02-27    584.714286
2022-03-06    567.142857
2022-03-13    438.857143
2022-03-20    463.857143
2022-03-27    693.285714
2022-04-03    571.000000
2022-04-10    501.000000
Freq: W-SUN, dtype: float64